<table>
  <thead>
    <tr>
      <th>ID</th><th>First name</th><th>Last name</th><th>Gender</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngIf="user$ | async as user">
      <td class="user-id">{{user.id}}</td>
      <td class="user-first-name">{{user.firstName}}</td>
      <td class="user-last-name">{{user.lastName}}</td>
      <td class="user-gender">{{user.gender | gender}}</td>
    </tr>
  </tbody>
</table>